$default-size: 18px;
$border-radius: 10px;
$colors: (
  'background': #fff,
  'background-light': #ffffff77,
  'decoration': #386baf,
  'border': #ccc,
  'text': #161616,
  'alert': #be1e2d,
  'ok': #0f770f,
);
$breakpoints: (
  'mobile': 600px,
);
