@use '../styles/variables';

.layout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: hidden;

  nav {
    width: 100vw;
    background-color: map-get($map: variables.$colors, $key: 'decoration');
    height: 100vh;
    min-width: 12rem;
    max-width: 15rem;
    padding: 0;
  }

  .signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    height: 80vh;
  }

  .content {
    height: 100vh;
    overflow: scroll;
    width: 100%;
    max-width: 50rem;
    min-width: 40rem;
    padding: 1rem;
  }
}
